In [62]:
"""
	Autores:
	- Junior Lara
	- Astrid Alvarado
"""

from pyspark.sql import SparkSession
from pyspark.sql.types import StringType
import pycountry

In [63]:
spark = SparkSession\
    .builder\
    .appName("Solver problema 1 - SQL")\
    .getOrCreate()

In [64]:
# ITEM 1: Ver cuáles países son los que tienen más usuarios que ven anime.
# Archivo necesiario: users-details-2023.csv
# Campos necesarios:
# 	- Mal ID
# 	- Location


# Direccionio del archivo
# Ej. file = "../../tests/vshort-users-details-2023.csv"
file = "../../tests/vshort-users-details-2023.csv"

users_details_2023 = spark\
	.read\
	.format("csv")\
	.option("header", "true")\
	.load(file)

users_details_2023.show(20)

+------+---------------+------+--------------------+--------------------+--------------------+------------+----------+--------+---------+-------+-------+-------------+-------------+---------+----------------+
|Mal ID|       Username|Gender|            Birthday|            Location|              Joined|Days Watched|Mean Score|Watching|Completed|On Hold|Dropped|Plan to Watch|Total Entries|Rewatched|Episodes Watched|
+------+---------------+------+--------------------+--------------------+--------------------+------------+----------+--------+---------+-------+-------+-------------+-------------+---------+----------------+
|     1|          Xinil|  Male|1985-03-04T00:00:...|          California|2004-11-05T00:00:...|       142.3|      7.37|     1.0|    233.0|    8.0|   93.0|         64.0|        399.0|     60.0|          8458.0|
|     3|        Aokaado|  Male|                NULL|        Oslo, Norway|2004-11-11T00:00:...|        68.6|      7.34|    23.0|    137.0|   99.0|   44.0|         40.0|        343.0|     15.0|          4072.0|
|     4|        Crystal|Female|                NULL|Melbourne, Australia|2004-11-13T00:00:...|       212.8|      6.68|    16.0|    636.0|  303.0|    0.0|         45.0|       1000.0|     10.0|         12781.0|
|     9|         Arcane|  NULL|                NULL|                NULL|2004-12-05T00:00:...|        30.0|      7.71|     5.0|     54.0|    4.0|    3.0|          0.0|         66.0|      0.0|          1817.0|
|    18|            Mad|  NULL|                NULL|                NULL|2005-01-03T00:00:...|        52.0|      6.27|     1.0|    114.0|   10.0|    5.0|         23.0|        153.0|     42.0|          3038.0|
|    20|         vondur|  Male|1988-01-25T00:00:...|      Bergen, Norway|2005-01-05T00:00:...|        73.1|      8.06|    11.0|     94.0|   11.0|    2.0|         20.0|        138.0|      7.0|          4374.0|
|    23|          Amuro|  NULL|1988-02-22T00:00:...|              Canada|2005-01-23T00:00:...|       142.5|      7.41|    20.0|    298.0|    5.0|   19.0|         50.0|        392.0|      0.0|          8565.0|
|    36|          Baman|  Male|                NULL|Land of Rain and ...|2005-02-05T00:00:...|       272.1|       5.9|    27.0|   1144.0|   11.0|   55.0|        338.0|       1575.0|     36.0|         16309.0|
|    44|         beddan|  Male|                NULL|                NULL|2005-02-21T00:00:...|        18.6|       7.6|     0.0|     37.0|    0.0|    0.0|          0.0|         37.0|      0.0|          1083.0|
|    47|      kei-clone|  Male|                NULL|31f288172a11dea9f...|2005-03-09T00:00:...|        34.5|      6.84|    15.0|    104.0|   22.0|    3.0|         19.0|        163.0|      1.0|          2054.0|
|    53|     Ladholyman|  NULL|                NULL|                NULL|2005-03-19T00:00:...|        11.5|      9.24|     0.0|     51.0|    0.0|    0.0|          0.0|         51.0|      0.0|           693.0|
|    66|         Hiromi|  Male|1990-02-09T00:00:...|         Calgary, AB|2005-04-01T00:00:...|        70.6|      7.53|    34.0|    148.0|   13.0|    6.0|         10.0|        211.0|     50.0|          4117.0|
|    70|         Cruzle|  Male|1983-11-09T00:00:...|                NULL|2005-04-14T00:00:...|        78.0|      7.18|    30.0|    135.0|    9.0|    8.0|         22.0|        204.0|     15.0|          4694.0|
|    71|          Smoka|  NULL|                NULL|                NULL|2005-04-21T00:00:...|        22.9|      8.01|     2.0|     67.0|   11.0|    0.0|          0.0|         80.0|      0.0|          1295.0|
|    77|            Emp|Female|                NULL|                NULL|2005-04-26T00:00:...|        67.5|      6.38|    13.0|    297.0|    0.0|    0.0|          2.0|        312.0|      0.0|          3955.0|
|    80|      koalatees|  NULL|1991-10-24T00:00:...|                NULL|2005-04-27T00:00:...|        12.2|       7.1|     4.0|     31.0|    0.0|   41.0|          0.0|         76.0|      0.0|           744.0|
|    82|         Achtor|  Male|1989-06-10T00:00:...|       Paris, France|2005-04-29T00:00:...|        47.0|      7.17|     6.0|    153.0|   36.0|   20.0|        101.0|        316.0|      0.0|          2922.0|
|    83|         jaames|  Male|                NULL| Seattle, Washington|2005-04-30T00:00:...|        12.5|      8.71|     3.0|     16.0|    0.0|    0.0|          0.0|         19.0|      0.0|           745.0|
|    90|           xich|Female|                NULL|                NULL|2005-05-10T00:00:...|        58.8|      8.29|     2.0|    122.0|    7.0|   53.0|          9.0|        193.0|      5.0|          3557.0|
|    91|marvin_9martian|Female|                NULL|              Canada|2005-05-10T00:00:...|        36.4|      6.66|     4.0|     57.0|    4.0|   31.0|         29.0|        125.0|      1.0|          2187.0|
+------+---------------+------+--------------------+--------------------+--------------------+------------+----------+--------+---------+-------+-------+-------------+-------------+---------+----------------+
only showing top 20 rows

In [65]:
# Se genera la VIEW
users_details_2023.createOrReplaceTempView("users_details_2023")

# Extraemos el campo Location y Mal ID
id_location = spark.sql("SELECT `Mal ID`, Location FROM users_details_2023")

In [66]:
# Mapeo manual de abreviaciones de subdivisiones a países
ABBREVIATION_MAP = {
    "ab": "Canada",
    "bc": "Canada",
    "on": "Canada",
    "qc": "Canada",
    "ny": "United States",
    "ca": "United States",
    "tx": "United States",
    "usa": "United States",
    "uk": "United Kingdom",
    "uae": "United Arab Emirates",
    "prc": "China",
    "us": "United States",
    "gb": "United Kingdom",
    "ru": "Russia",
    "au": "Australia",
    "nz": "New Zealand",
    "de": "Germany",
    "fr": "France",
    "es": "Spain",
    "it": "Italy",
    "jp": "Japan",
    "cn": "China",
    "kr": "South Korea",
    "br": "Brazil",
    "mx": "Mexico",
    "in": "India",
    "za": "South Africa",
    "se": "Sweden",
    "no": "Norway",
    "fi": "Finland",
    "dk": "Denmark",
    "ch": "Switzerland",
    "nl": "Netherlands",
    "be": "Belgium",
    "at": "Austria",
    "pl": "Poland",
    "ar": "Argentina",
    "cl": "Chile",
    "co": "Colombia",
    "ve": "Venezuela",
    "pe": "Peru",
    "ph": "Philippines",
    "id": "Indonesia",
    "my": "Malaysia",
    "sg": "Singapore",
    "th": "Thailand",
    "vn": "Vietnam",
    "sa": "Saudi Arabia",
    "eg": "Egypt",
    "tr": "Turkey",
    "gr": "Greece",
    "pt": "Portugal",
    "cz": "Czech Republic",
    "sk": "Slovakia",
    "hu": "Hungary",
    "ro": "Romania",
    "bg": "Bulgaria",
    "rs": "Serbia",
    "hr": "Croatia",
    "si": "Slovenia",
    "ua": "Ukraine",
    "by": "Belarus",
    "lt": "Lithuania",
    "lv": "Latvia",
    "ee": "Estonia",
    "is": "Iceland",
    "ie": "Ireland",
    "pk": "Pakistan",
    "bd": "Bangladesh",
    "lk": "Sri Lanka",
    "np": "Nepal",
    "af": "Afghanistan",
    "ir": "Iran",
    "iq": "Iraq",
    "sy": "Syria",
    "jo": "Jordan",
    "lb": "Lebanon",
    "il": "Israel",
    "ps": "Palestine",
    "kw": "Kuwait",
    "qa": "Qatar",
    "bh": "Bahrain",
    "om": "Oman",
    "ye": "Yemen",
    "dz": "Algeria",
    "ma": "Morocco",
    "tn": "Tunisia",
    "ly": "Libya",
    "sd": "Sudan",
    "ng": "Nigeria",
    "gh": "Ghana",
    "ke": "Kenya",
    "tz": "Tanzania",
    "ug": "Uganda",
    "zm": "Zambia",
    "zw": "Zimbabwe",
    "bw": "Botswana",
    "na": "Namibia",
    "ao": "Angola",
    "mz": "Mozambique",
    "mg": "Madagascar",
    "et": "Ethiopia",
    "sn": "Senegal",
    "ci": "Ivory Coast",
    "cm": "Cameroon",
    "cd": "Congo",
    "cg": "Republic Of The Congo",
    "ga": "Gabon",
    "gq": "Equatorial Guinea",
    "cv": "Cape Verde",
    "st": "Sao Tome And Principe",
    "sc": "Seychelles",
    "mu": "Mauritius",
    "km": "Comoros",
    "dj": "Djibouti",
    "er": "Eritrea",
    "so": "Somalia",
    "rw": "Rwanda",
    "bi": "Burundi",
    "mw": "Malawi",
    "ls": "Lesotho",
    "sz": "Eswatini",
    "sl": "Sierra Leone",
    "lr": "Liberia",
    "gm": "Gambia",
    "gw": "Guinea-Bissau",
    "gn": "Guinea",
    "ml": "Mali",
    "bf": "Burkina Faso",
    "ne": "Niger",
    "td": "Chad",
    "mr": "Mauritania",
    "bj": "Benin",
    "tg": "Togo",
    "cf": "Central African Republic",
    "ss": "South Sudan",
    "bt": "Bhutan",
    "mv": "Maldives",
    "kh": "Cambodia",
    "la": "Laos",
    "mm": "Myanmar",
    "bn": "Brunei",
    "tl": "Timor-Leste",
    "pg": "Papua New Guinea",
    "fj": "Fiji",
    "ws": "Samoa",
    "to": "Tonga",
    "vu": "Vanuatu",
    "sb": "Solomon Islands",
    "ki": "Kiribati",
    "tv": "Tuvalu",
    "nr": "Nauru",
    "pw": "Palau",
    "mh": "Marshall Islands",
    "fm": "Micronesia",
    "as": "American Samoa",
    "gu": "Guam",
    "mp": "Northern Mariana Islands",
    "ck": "Cook Islands",
    "nu": "Niue",
    "wf": "Wallis And Futuna",
    "pf": "French Polynesia",
    "nc": "New Caledonia",
    "tk": "Tokelau",
    "pn": "Pitcairn Islands",
    "gs": "South Georgia And The South Sandwich Islands",
    "sh": "Saint Helena",
    "fk": "Falkland Islands",
    "ai": "Anguilla",
    "bm": "Bermuda",
    "vg": "British Virgin Islands",
    "ky": "Cayman Islands",
    "ms": "Montserrat",
    "tc": "Turks And Caicos Islands",
    "vi": "US Virgin Islands",
    "pr": "Puerto Rico",
    "um": "United States Minor Outlying Islands",
    "hk": "Hong Kong",
    "mo": "Macau",
    "tw": "Taiwan",
    "fo": "Faroe Islands",
    "gl": "Greenland",
    "ax": "Aland Islands",
    "je": "Jersey",
    "gg": "Guernsey",
    "im": "Isle Of Man",
    "yt": "Mayotte",
    "re": "Reunion",
    "mq": "Martinique",
    "gp": "Guadeloupe",
    "bl": "Saint Barthelemy",
    "mf": "Saint Martin",
    "pm": "Saint Pierre And Miquelon",
    "tf": "French Southern Territories",
    "bv": "Bouvet Island",
    "hm": "Heard Island And Mcdonald Islands",
    "aq": "Antarctica",
    "cw": "Curacao",
    "sx": "Sint Maarten",
    "bq": "Caribbean Netherlands",
    "xk": "Kosovo"
}

# Función para identificar el país a partir de la ubicación.
def get_country(location):
    if not location or location.strip() == "":
        return "UNKNOWN"
    
    location = location.lower().strip()
    location_parts = [part.strip() for part in location.split(",")]  # Dividir por comas y limpiar espacios
    
    # Verificar si alguna parte coincide con una abreviación en el mapeo manual
    for part in location_parts:
        if part in ABBREVIATION_MAP:
            return ABBREVIATION_MAP[part]  # Devolver el país correspondiente
    
    # Verificar si el país ya está incluido en la ubicación
    for country in pycountry.countries:
        if country.name.lower() in location_parts or \
           country.alpha_2.lower() in location_parts or \
           country.alpha_3.lower() in location_parts:
            return country.name
    
    # Verificar subdivisiones (estados, provincias, etc.)
    for subdivision in pycountry.subdivisions:
        if subdivision.name.lower() in location_parts:
            return pycountry.countries.get(alpha_2=subdivision.country_code).name
    
    # Si no se encuentra, devolver "UNKNOWN"
    return "UNKNOWN"

# Registrar la función UDF en SQL
spark.udf.register("get_country_sql", get_country, StringType())

In [67]:
# Se genera la VIEW
id_location.createOrReplaceTempView("id_location")

# Mapear cada localización a un país por usuario.
id_country = spark.sql("""
    SELECT 
        `Mal ID` as user_id,
        get_country_sql(Location) AS Country
    FROM 
        id_location
""")

id_country.show(20)

+-------+-------------+
|user_id|      Country|
+-------+-------------+
|      1|United States|
|      3|       Norway|
|      4|    Australia|
|      9|      UNKNOWN|
|     18|      UNKNOWN|
|     20|       Norway|
|     23|       Canada|
|     36|      UNKNOWN|
|     44|      UNKNOWN|
|     47|      UNKNOWN|
|     53|      UNKNOWN|
|     66|       Canada|
|     70|      UNKNOWN|
|     71|      UNKNOWN|
|     77|      UNKNOWN|
|     80|      UNKNOWN|
|     82|       France|
|     83|United States|
|     90|      UNKNOWN|
|     91|       Canada|
+-------+-------------+
only showing top 20 rows

In [68]:
# Se genera la VIEW
id_country.createOrReplaceTempView("id_country")

# Consulta SQL para contar la cantidad de usuarios por país
user_count_by_country = spark.sql("""
    SELECT 
        Country,
        COUNT(user_id) AS user_count
    FROM 
        id_country
    GROUP BY 
        Country
    ORDER BY 
        user_count DESC
""")

# Mostrar los resultados
user_count_by_country.show(20)

+--------------+----------+
|       Country|user_count|
+--------------+----------+
|       UNKNOWN|       756|
| United States|        81|
|        Canada|        18|
|United Kingdom|        18|
|        Sweden|        13|
|        Israel|        10|
|       Finland|         9|
|        Norway|         7|
|       Germany|         6|
|        France|         6|
|     Lithuania|         5|
|        Mexico|         5|
|   Netherlands|         5|
|   Philippines|         4|
|        Greece|         4|
|       Georgia|         4|
|     Australia|         4|
|         Japan|         3|
|        Poland|         3|
|     Singapore|         2|
+--------------+----------+
only showing top 20 rows

In [69]:
# ITEM 2: Determinar si en dichos países las puntuaciones tienden a ser muy altas, bajas o equilibradas.
# Archivo necesiario: users-score-2023.csv
# Campos necesarios:
# 	- user_id
# 	- rating


# Direccionio del archivo
# Ej. file = "../../tests/vshort-users-score-2023.csv"
file = "../../tests/vshort-users-score-2023.csv"

users_score_2023 = spark\
	.read\
	.format("csv")\
	.option("header", "true")\
	.load(file)

users_score_2023.show(20)

+-------+--------+--------+--------------------+------+
|user_id|Username|anime_id|         Anime Title|rating|
+-------+--------+--------+--------------------+------+
|      1|   Xinil|      21|           One Piece|     9|
|      1|   Xinil|      48|         .hack//Sign|     7|
|      1|   Xinil|     320|              A Kite|     5|
|      1|   Xinil|      49|    Aa! Megami-sama!|     8|
|      1|   Xinil|     304|Aa! Megami-sama! ...|     8|
|      1|   Xinil|     306|Abenobashi Mahou☆...|     8|
|      1|   Xinil|      53|       Ai Yori Aoshi|     7|
|      1|   Xinil|      47|               Akira|     5|
|      1|   Xinil|     591|      Amaenaide yo!!|     6|
|      1|   Xinil|      54|   Appleseed (Movie)|     7|
|      1|   Xinil|      55|         Arc the Lad|     5|
|      1|   Xinil|      56|             Avenger|     6|
|      1|   Xinil|      57|                Beck|     9|
|      1|   Xinil|     368|         Bible Black|     5|
|      1|   Xinil|      68|      Black Cat (TV)|     7|
|      1|   Xinil|     889|        Black Lagoon|     9|
|      1|   Xinil|    1519|Black Lagoon: The...|     7|
|      1|   Xinil|      58|         Blue Gender|     8|
|      1|   Xinil|    1222|       Bokura ga Ita|     7|
|      1|   Xinil|     458|       Buttobi!! CPU|     4|
+-------+--------+--------+--------------------+------+
only showing top 20 rows

In [70]:
# Se genera la VIEW
users_score_2023.createOrReplaceTempView("users_score_2023")

# Calcular el promedio (redondeado a 2 decimales) de las puntuaciones por usuario
average_ratings = spark.sql("""
    SELECT 
        user_id, 
        ROUND(AVG(rating), 2) AS average_rating
    FROM users_score_2023
    GROUP BY user_id
""")

average_ratings.show(20)

+-------+--------------+
|user_id|average_rating|
+-------+--------------+
|     23|          7.46|
|      9|          7.71|
|      1|          7.44|
|     20|          8.06|
|     37|           7.0|
|      4|          6.52|
+-------+--------------+

In [71]:
# Se generan las VIEWS
average_ratings.createOrReplaceTempView("average_ratings")
id_country.createOrReplaceTempView("id_country")

# JOIN para calcular el promedio por país y contar la cantidad de usuarios.
avg_ratings_by_country = spark.sql("""
    SELECT 
        c.Country,
        ROUND(AVG(a.average_rating), 2) AS average,
        COUNT(a.user_id) AS user_count
    FROM 
        average_ratings a
    INNER JOIN 
        id_country c
    ON 
        a.user_id = c.user_id
    GROUP BY 
        c.Country
""")

avg_ratings_by_country.show(20)

+-------------+-------+----------+
|      Country|average|user_count|
+-------------+-------+----------+
|United States|   7.44|         1|
|       Norway|   8.06|         1|
|      UNKNOWN|   7.71|         1|
|       Canada|   7.46|         1|
|    Australia|   6.52|         1|
+-------------+-------+----------+

In [72]:
# ITEM 3: Ver cuáles países tienen a las personas que dan muchas puntuaciones positivas y negativas.

# Se genera la VIEW
avg_ratings_by_country.createOrReplaceTempView("avg_ratings_by_country")

# Obtener el top 10 de países con más usuarios
top_10_countries = spark.sql("""
    SELECT *
    FROM avg_ratings_by_country
    ORDER BY user_count DESC
    LIMIT 10
""")

# Se genera la VIEW
top_10_countries.createOrReplaceTempView("top_10_countries")

# Obtener los 5 países con mejores promedios del top 10
top_5_best_averages = spark.sql("""
    SELECT *
    FROM top_10_countries
    ORDER BY average DESC
    LIMIT 5
""")

# Obtener los 5 países con peores promedios del top 10
top_5_worst_averages = spark.sql("""
    SELECT *
    FROM top_10_countries
    ORDER BY average ASC
    LIMIT 5
""")

# Mostrar los resultados
print("Top 5 países con mejores promedios:")
top_5_best_averages.show()

print("Top 5 países con peores promedios:")
top_5_worst_averages.show()

Top 5 países con mejores promedios:
+-------------+-------+----------+
|      Country|average|user_count|
+-------------+-------+----------+
|       Norway|   8.06|         1|
|      UNKNOWN|   7.71|         1|
|       Canada|   7.46|         1|
|United States|   7.44|         1|
|    Australia|   6.52|         1|
+-------------+-------+----------+

Top 5 países con peores promedios:

+-------------+-------+----------+
|      Country|average|user_count|
+-------------+-------+----------+
|    Australia|   6.52|         1|
|United States|   7.44|         1|
|       Canada|   7.46|         1|
|      UNKNOWN|   7.71|         1|
|       Norway|   8.06|         1|
+-------------+-------+----------+

In [73]:
spark.stop()