In [35]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, split, explode, count, month, udf, trim, sum as spark_sum
from pyspark.sql.types import StringType, IntegerType
from datetime import datetime

# Crear la sesión de Spark
spark = SparkSession.builder \
    .appName("Anime_Zodiac_Pyspark") \
    .getOrCreate()

print("Sesión de Spark iniciada")

Sesión de Spark iniciada

In [36]:
# Ruta al archivo CSV
# users_path = "../../tests/users-details-2023.csv"
users_path = "../../tests/users-details-2023.csv"


users_df = spark.read.format("csv") \
    .option("header", "true") \
    .option("quote", "\"") \
    .option("escape", "\"") \
    .load(users_path)

users_df.show(20)

+------+---------------+------+--------------------+--------------------+--------------------+------------+----------+--------+---------+-------+-------+-------------+-------------+---------+----------------+
|Mal ID|       Username|Gender|            Birthday|            Location|              Joined|Days Watched|Mean Score|Watching|Completed|On Hold|Dropped|Plan to Watch|Total Entries|Rewatched|Episodes Watched|
+------+---------------+------+--------------------+--------------------+--------------------+------------+----------+--------+---------+-------+-------+-------------+-------------+---------+----------------+
|     1|          Xinil|  Male|1985-03-04T00:00:...|          California|2004-11-05T00:00:...|       142.3|      7.37|     1.0|    233.0|    8.0|   93.0|         64.0|        399.0|     60.0|          8458.0|
|     3|        Aokaado|  Male|                NULL|        Oslo, Norway|2004-11-11T00:00:...|        68.6|      7.34|    23.0|    137.0|   99.0|   44.0|         40.0|        343.0|     15.0|          4072.0|
|     4|        Crystal|Female|                NULL|Melbourne, Australia|2004-11-13T00:00:...|       212.8|      6.68|    16.0|    636.0|  303.0|    0.0|         45.0|       1000.0|     10.0|         12781.0|
|     9|         Arcane|  NULL|                NULL|                NULL|2004-12-05T00:00:...|        30.0|      7.71|     5.0|     54.0|    4.0|    3.0|          0.0|         66.0|      0.0|          1817.0|
|    18|            Mad|  NULL|                NULL|                NULL|2005-01-03T00:00:...|        52.0|      6.27|     1.0|    114.0|   10.0|    5.0|         23.0|        153.0|     42.0|          3038.0|
|    20|         vondur|  Male|1988-01-25T00:00:...|      Bergen, Norway|2005-01-05T00:00:...|        73.1|      8.06|    11.0|     94.0|   11.0|    2.0|         20.0|        138.0|      7.0|          4374.0|
|    23|          Amuro|  NULL|1988-02-22T00:00:...|              Canada|2005-01-23T00:00:...|       142.5|      7.41|    20.0|    298.0|    5.0|   19.0|         50.0|        392.0|      0.0|          8565.0|
|    36|          Baman|  Male|                NULL|Land of Rain and ...|2005-02-05T00:00:...|       272.1|       5.9|    27.0|   1144.0|   11.0|   55.0|        338.0|       1575.0|     36.0|         16309.0|
|    44|         beddan|  Male|                NULL|                NULL|2005-02-21T00:00:...|        18.6|       7.6|     0.0|     37.0|    0.0|    0.0|          0.0|         37.0|      0.0|          1083.0|
|    47|      kei-clone|  Male|                NULL|31f288172a11dea9f...|2005-03-09T00:00:...|        34.5|      6.84|    15.0|    104.0|   22.0|    3.0|         19.0|        163.0|      1.0|          2054.0|
|    53|     Ladholyman|  NULL|                NULL|                NULL|2005-03-19T00:00:...|        11.5|      9.24|     0.0|     51.0|    0.0|    0.0|          0.0|         51.0|      0.0|           693.0|
|    66|         Hiromi|  Male|1990-02-09T00:00:...|         Calgary, AB|2005-04-01T00:00:...|        70.6|      7.53|    34.0|    148.0|   13.0|    6.0|         10.0|        211.0|     50.0|          4117.0|
|    70|         Cruzle|  Male|1983-11-09T00:00:...|                NULL|2005-04-14T00:00:...|        78.0|      7.18|    30.0|    135.0|    9.0|    8.0|         22.0|        204.0|     15.0|          4694.0|
|    71|          Smoka|  NULL|                NULL|                NULL|2005-04-21T00:00:...|        22.9|      8.01|     2.0|     67.0|   11.0|    0.0|          0.0|         80.0|      0.0|          1295.0|
|    77|            Emp|Female|                NULL|                NULL|2005-04-26T00:00:...|        67.5|      6.38|    13.0|    297.0|    0.0|    0.0|          2.0|        312.0|      0.0|          3955.0|
|    80|      koalatees|  NULL|1991-10-24T00:00:...|                NULL|2005-04-27T00:00:...|        12.2|       7.1|     4.0|     31.0|    0.0|   41.0|          0.0|         76.0|      0.0|           744.0|
|    82|         Achtor|  Male|1989-06-10T00:00:...|       Paris, France|2005-04-29T00:00:...|        47.0|      7.17|     6.0|    153.0|   36.0|   20.0|        101.0|        316.0|      0.0|          2922.0|
|    83|         jaames|  Male|                NULL| Seattle, Washington|2005-04-30T00:00:...|        12.5|      8.71|     3.0|     16.0|    0.0|    0.0|          0.0|         19.0|      0.0|           745.0|
|    90|           xich|Female|                NULL|                NULL|2005-05-10T00:00:...|        58.8|      8.29|     2.0|    122.0|    7.0|   53.0|          9.0|        193.0|      5.0|          3557.0|
|    91|marvin_9martian|Female|                NULL|              Canada|2005-05-10T00:00:...|        36.4|      6.66|     4.0|     57.0|    4.0|   31.0|         29.0|        125.0|      1.0|          2187.0|
+------+---------------+------+--------------------+--------------------+--------------------+------------+----------+--------+---------+-------+-------+-------------+-------------+---------+----------------+
only showing top 20 rows

In [37]:
# Ruta al archivo CSV
# animes_path = "../../tests/anime-filtered.csv"
animes_path = "../../tests/anime-filtered.csv"

animes_df = spark.read.format("csv") \
    .option("header", "true") \
    .option("quote", "\"") \
    .option("escape", "\"") \
    .load(animes_path)

animes_df.show(20)

+--------+--------------------+-----+--------------------+--------------------+------------------------------+--------------------+-----+--------+--------------------+-----------+--------------------+--------------------+----------------+-----------+---------------+--------------------+------+----------+-------+---------+--------+---------+-------+-------+
|anime_id|                Name|Score|              Genres|        English name|                 Japanese name|           sypnopsis| Type|Episodes|               Aired|  Premiered|           Producers|           Licensors|         Studios|     Source|       Duration|              Rating|Ranked|Popularity|Members|Favorites|Watching|Completed|On-Hold|Dropped|
+--------+--------------------+-----+--------------------+--------------------+------------------------------+--------------------+-----+--------+--------------------+-----------+--------------------+--------------------+----------------+-----------+---------------+--------------------+------+----------+-------+---------+--------+---------+-------+-------+
|       1|        Cowboy Bebop| 8.78|Action, Adventure...|        Cowboy Bebop|            カウボーイビバップ|In the year 2071,...|   TV|      26|Apr 3, 1998 to Ap...|Spring 1998|       Bandai Visual|Funimation, Banda...|         Sunrise|   Original|24 min. per ep.|R - 17+ (violence...|  28.0|        39|1251960|    61971|  105808|   718161|  71513|  26678|
|       5|Cowboy Bebop: Ten...| 8.39|Action, Drama, My...|Cowboy Bebop:The ...|   カウボーイビバップ 天国の扉|other day, anothe...|Movie|       1|         Sep 1, 2001|    Unknown|Sunrise, Bandai V...|Sony Pictures Ent...|           Bones|   Original|  1 hr. 55 min.|R - 17+ (violence...| 159.0|       518| 273145|     1174|    4143|   208333|   1935|    770|
|       6|              Trigun| 8.24|Action, Sci-Fi, A...|              Trigun|                    トライガン|Vash the Stampede...|   TV|      26|Apr 1, 1998 to Se...|Spring 1998|Victor Entertainment|Funimation, Geneo...|        Madhouse|      Manga|24 min. per ep.|PG-13 - Teens 13 ...| 266.0|       201| 558913|    12944|   29113|   343492|  25465|  13925|
|       7|  Witch Hunter Robin| 7.27|Action, Mystery, ...|  Witch Hunter Robin|          Witch Hunter ROBI...|ches are individu...|   TV|      26|Jul 2, 2002 to De...|Summer 2002|TV Tokyo, Bandai ...|Funimation, Banda...|         Sunrise|   Original|25 min. per ep.|PG-13 - Teens 13 ...|2481.0|      1467|  94683|      587|    4300|    46165|   5121|   5378|
|       8|      Bouken Ou Beet| 6.98|Adventure, Fantas...|Beet the Vandel B...|                  冒険王ビィト|It is the dark ce...|   TV|      52|Sep 30, 2004 to S...|  Fall 2004|    TV Tokyo, Dentsu|             Unknown|  Toei Animation|      Manga|23 min. per ep.|       PG - Children|3710.0|      4369|  13224|       18|     642|     7314|    766|   1108|
|      15|        Eyeshield 21| 7.95|Action, Sports, C...|             Unknown|                アイシールド21|Sena is like any ...|   TV|     145|Apr 6, 2005 to Ma...|Spring 2005|TV Tokyo, Nihon A...|VIZ Media, Sentai...|          Gallop|      Manga|23 min. per ep.|PG-13 - Teens 13 ...| 604.0|      1003| 148259|     2066|   13907|    78349|  14228|  11573|
|      16|Hachimitsu to Clover| 8.06|Comedy, Drama, Jo...|    Honey and Clover|          ハチミツとクローバー|Yuuta Takemoto, a...|   TV|      24|Apr 15, 2005 to S...|Spring 2005|Genco, Fuji TV, S...|VIZ Media, Discot...|       J.C.Staff|      Manga|23 min. per ep.|PG-13 - Teens 13 ...| 468.0|       687| 214499|     4101|   11909|    81145|  11901|  11026|
|      17|Hungry Heart: Wil...| 7.59|Slice of Life, Co...|             Unknown|  ハングリーハート Wild Str...|Kyosuke Kano has ...|   TV|      52|Sep 11, 2002 to S...|  Fall 2002|             Unknown|             Unknown|Nippon Animation|      Manga|23 min. per ep.|PG-13 - Teens 13 ...|1317.0|      3612|  20470|      231|     817|    13778|    828|   1168|
|      18|Initial D Fourth ...| 8.15|Action, Cars, Spo...|             Unknown|頭文字〈イニシャル〉D FOURT...|Takumi Fujiwara f...|   TV|      24|Apr 17, 2004 to F...|Spring 2004|OB Planning, Stud...|          Funimation|        A.C.G.T.|      Manga|27 min. per ep.|PG-13 - Teens 13 ...| 360.0|      1233| 117929|      979|    6082|    90967|   3053|   1356|
|      19|             Monster| 8.76|Drama, Horror, My...|             Monster|                    モンスター|Dr. Kenzou Tenma,...|   TV|      74|Apr 7, 2004 to Se...|Spring 2004|VAP, Shogakukan-S...|           VIZ Media|        Madhouse|      Manga|24 min. per ep.|    R+ - Mild Nudity|  30.0|       169| 614100|    29436|   64648|   214491|  47488|  23008|
|      20|              Naruto| 7.91|Action, Adventure...|              Naruto|                        ナルト|oments prior to N...|   TV|     220|Oct 3, 2002 to Fe...|  Fall 2002|TV Tokyo, Aniplex...|           VIZ Media|  Studio Pierrot|      Manga|23 min. per ep.|PG-13 - Teens 13 ...| 660.0|         8|1830540|    65586|  137167|  1462223|  61734|  99806|
|      21|           One Piece| 8.52|Action, Adventure...|           One Piece|                     ONE PIECE|Gol D. Roger was ...|   TV| Unknown|   Oct 20, 1999 to ?|  Fall 1999|Fuji TV, TAP, Shu...|Funimation, 4Kids...|  Toei Animation|      Manga|        24 min.|PG-13 - Teens 13 ...|  95.0|        31|1352724|   126645|  887333|       33| 187919| 136245|
|      22| Tennis no Ouji-sama|  7.9|Action, Comedy, S...|The Prince of Tennis|                テニスの王子様|The world of tenn...|   TV|     178|Oct 10, 2001 to M...|  Fall 2001|Production I.G, N...|           VIZ Media|      Trans Arts|      Manga|22 min. per ep.|PG-13 - Teens 13 ...| 675.0|      1039| 141832|     3124|   11235|    76881|  12905|  12516|
|      23|    Ring ni Kakero 1| 6.38|Action, Shounen, ...|             Unknown|              リングにかけろ１|In order to fulfi...|   TV|      12|Oct 6, 2004 to De...|  Fall 2004|             Unknown|             Unknown|  Toei Animation|      Manga|25 min. per ep.|       PG - Children|6493.0|      7333|   3648|       16|     170|     1333|    145|    296|
|      24|       School Rumble| 7.94|Comedy, Romance, ...|       School Rumble|              スクールランブル|Just the words "I...|   TV|      26|Oct 5, 2004 to Ma...|  Fall 2004|TV Tokyo, Sotsu, ...|          Funimation|    Studio Comet|      Manga|23 min. per ep.|PG-13 - Teens 13 ...| 625.0|       514| 275464|     5137|   12277|   157789|  12856|  13491|
|      25|           Sunabouzu| 7.42|Action, Adventure...|         Desert Punk|                      砂ぼうず|The Great Kanto D...|   TV|      24|Oct 6, 2004 to Ma...|  Fall 2004|GDH, Pony Canyon,...|          Funimation|           Gonzo|      Manga|24 min. per ep.|R - 17+ (violence...|1844.0|      1284| 111734|      790|    6273|    53819|   6255|   7951|
|      26|          Texhnolyze| 7.76|Action, Sci-Fi, P...|          Texhnolyze|                    TEXHNOLYZE|Texhnolyze takes ...|   TV|      22|Apr 17, 2003 to S...|Spring 2003|Group TAC, Rondo ...|Funimation, Geneo...|        Madhouse|   Original|23 min. per ep.|    R+ - Mild Nudity| 896.0|       823| 182599|     3671|   11335|    47532|   9815|   8112|
|      27|       Trinity Blood| 7.32|Action, Supernatu...|       Trinity Blood|          トリニティ・ブラッド|Following Armaged...|   TV|      24|Apr 29, 2005 to O...|Spring 2005|             Unknown|          Funimation|           Gonzo|Light novel|24 min. per ep.|R - 17+ (violence...|2240.0|       936| 158343|     1479|    7794|    87958|   8940|   9349|
|      28|    Yakitate!! Japan| 7.95|     Comedy, Shounen|    Yakitate!! Japan|           焼きたて!! ジャぱん|hile countries su...|   TV|      69|Oct 12, 2004 to M...|  Fall 2004|TV Tokyo, Aniplex...|Nozomi Entertainment|         Sunrise|      Manga|24 min. per ep.|PG-13 - Teens 13 ...| 609.0|      1666|  80183|      887|    5007|    39992|   5764|   4633|
|      29|              Zipang| 7.51|Action, Military,...|             Unknown|                      ジパング|ai, an improved K...|   TV|      26|Oct 8, 2004 to Ap...|  Fall 2004|      Marvelous, TBS|Geneon Entertainm...|     Studio Deen|      Manga|24 min. per ep.|PG-13 - Teens 13 ...|1565.0|      3985|  16652|      152|     857|     6807|    721|    599|
+--------+--------------------+-----+--------------------+--------------------+------------------------------+--------------------+-----+--------+--------------------+-----------+--------------------+--------------------+----------------+-----------+---------------+--------------------+------+----------+-------+---------+--------+---------+-------+-------+
only showing top 20 rows

In [38]:
# Función para determinar el signo zodiacal
def get_zodiac_sign(birthday):
    if not birthday:
        return "Unknown"
    try:
        date = datetime.fromisoformat(birthday)
        month, day = date.month, date.day
        zodiac = [
            ("Capricorn", (12, 22), (1, 19)),
            ("Aquarius", (1, 20), (2, 18)),
            ("Pisces", (2, 19), (3, 20)),
            ("Aries", (3, 21), (4, 19)),
            ("Taurus", (4, 20), (5, 20)),
            ("Gemini", (5, 21), (6, 20)),
            ("Cancer", (6, 21), (7, 22)),
            ("Leo", (7, 23), (8, 22)),
            ("Virgo", (8, 23), (9, 22)),
            ("Libra", (9, 23), (10, 22)),
            ("Scorpio", (10, 23), (11, 21)),
            ("Sagittarius", (11, 22), (12, 21)),
        ]
        for sign, start, end in zodiac:
            if (month == start[0] and day >= start[1]) or (month == end[0] and day <= end[1]):
                return sign
    except:
        return "2"
    return "3"

# Registrar la función como UDF en Spark
get_zodiac_sign_udf = udf(get_zodiac_sign, StringType())

In [39]:
# Asociar Signo Zodiacal con género, y contar la cantidad de veces que cada signo consume un género

# Agregar la columna del signo zodiacal
users_df = users_df.withColumn("ZodiacSign", get_zodiac_sign_udf(col("Birthday")))

# Relacionar usuarios con los géneros de anime consumidos
anime_users_df = users_df.join(animes_df, users_df["Mal ID"] == animes_df["anime_id"], "inner").select("ZodiacSign", "Genres")

# Explode de géneros (ya que un anime puede tener múltiples géneros separados por comas)
anime_users_df = anime_users_df.withColumn("Genre", explode(split(col("Genres"), ",")))

# Aplicar trim para eliminar espacios en blanco alrededor de los géneros
anime_users_df = anime_users_df.withColumn("Genre", trim(col("Genre")))
# Contar la cantidad de veces que cada signo consume un género
zodiac_genre_count = anime_users_df.groupBy("ZodiacSign", "Genre").agg(count("*").alias("Count"))

zodiac_genre_count = zodiac_genre_count.sort(col("ZodiacSign").asc(), col("Count").desc())

# Mostrar resultados
zodiac_genre_count.show(50, truncate=False)

+----------+-------------+-----+
|ZodiacSign|Genre        |Count|
+----------+-------------+-----+
|Aquarius  |Comedy       |137  |
|Aquarius  |Action       |93   |
|Aquarius  |Fantasy      |89   |
|Aquarius  |Adventure    |77   |
|Aquarius  |Sci-Fi       |58   |
|Aquarius  |Drama        |58   |
|Aquarius  |Shounen      |49   |
|Aquarius  |Slice of Life|48   |
|Aquarius  |Kids         |44   |
|Aquarius  |School       |41   |
|Aquarius  |Romance      |39   |
|Aquarius  |Hentai       |38   |
|Aquarius  |Supernatural |31   |
|Aquarius  |Music        |30   |
|Aquarius  |Ecchi        |28   |
|Aquarius  |Magic        |27   |
|Aquarius  |Historical   |25   |
|Aquarius  |Mecha        |23   |
|Aquarius  |Mystery      |19   |
|Aquarius  |Parody       |18   |
|Aquarius  |Sports       |17   |
|Aquarius  |Seinen       |17   |
|Aquarius  |Shoujo       |15   |
|Aquarius  |Martial Arts |15   |
|Aquarius  |Super Power  |14   |
|Aquarius  |Game         |12   |
|Aquarius  |Military     |11   |
|Aquarius  |Psychological|10   |
|Aquarius  |Space        |8    |
|Aquarius  |Horror       |8    |
|Aquarius  |Samurai      |8    |
|Aquarius  |Police       |7    |
|Aquarius  |Demons       |7    |
|Aquarius  |Josei        |5    |
|Aquarius  |Dementia     |5    |
|Aquarius  |Shounen Ai   |4    |
|Aquarius  |Vampire      |3    |
|Aquarius  |Yaoi         |3    |
|Aquarius  |Cars         |3    |
|Aquarius  |Shoujo Ai    |1    |
|Aquarius  |Harem        |1    |
|Aries     |Comedy       |128  |
|Aries     |Action       |79   |
|Aries     |Fantasy      |73   |
|Aries     |Sci-Fi       |66   |
|Aries     |Adventure    |65   |
|Aries     |Drama        |57   |
|Aries     |Shounen      |55   |
|Aries     |School       |45   |
|Aries     |Hentai       |44   |
+----------+-------------+-----+
only showing top 50 rows

In [40]:
# Escribir el DataFrame en un archivo CSV con el nombre "zodiac_genre_count"
zodiac_genre_count.write.csv("zodiac_genre_count", header=True, mode="overwrite")

In [41]:
# Definir una UDF para extraer el mes a partir del campo "Aired"
def extract_month(aired):
    try:
        # Se asume que el campo "Aired" tiene el formato: "Jan 10, 2020 to Feb 20, 2020"
        # Se toma la primera fecha (antes de "to") y se extrae el mes.
        first_date = aired.split("to")[0].strip()
        dt = datetime.strptime(first_date, "%b %d, %Y")
        return dt.month
    except Exception:
        return None

extract_month_udf = udf(extract_month, IntegerType())

In [42]:
# Agregar la columna "publication_month", parseo, y filtrar aquellos registros sin mes válido
anime_pub_month_df = animes_df.withColumn("publication_month", extract_month_udf(col("Aired"))) \
                   .filter(col("publication_month").isNotNull()) \
                   .select("anime_id", "publication_month")


anime_pub_month_df.show(20)

+--------+-----------------+
|anime_id|publication_month|
+--------+-----------------+
|       1|                4|
|       5|                9|
|       6|                4|
|       7|                7|
|       8|                9|
|      15|                4|
|      16|                4|
|      17|                9|
|      18|                4|
|      19|                4|
|      20|               10|
|      21|               10|
|      22|               10|
|      23|               10|
|      24|               10|
|      25|               10|
|      26|                4|
|      27|                4|
|      28|               10|
|      29|               10|
+--------+-----------------+
only showing top 20 rows

In [55]:
from pyspark.sql.functions import sum as spark_sum

# Realizar el cross join entre anime_pub_month_df y zodiac_genre_count
cross_join_df = zodiac_genre_count.crossJoin(anime_pub_month_df).orderBy("ZodiacSign", "publication_month")

# Agrupar por ZodiacSign y publication_month, y sumar los valores de Count
zodiac_month_count = cross_join_df.groupBy("ZodiacSign", "publication_month") \
    .agg(spark_sum("Count").alias("Counter")).sort(col("ZodiacSign").asc(), col("publication_month").asc())

# Mostrar los resultados
zodiac_month_count.show(50, truncate=False)
# Escribir el DataFrame en un archivo CSV con el nombre "zodiac_month_count"
zodiac_month_count.write.csv("zodiac_month_count", header=True, mode="overwrite")

+----------+-----------------+-------+
|ZodiacSign|publication_month|Counter|
+----------+-----------------+-------+
|Aquarius  |1                |1521888|
|Aquarius  |2                |842310 |
|Aquarius  |3                |1346550|
|Aquarius  |4                |2366490|
|Aquarius  |5                |711666 |
|Aquarius  |6                |829704 |
|Aquarius  |7                |1867980|
|Aquarius  |8                |1031400|
|Aquarius  |9                |895026 |
|Aquarius  |10               |2242722|
|Aquarius  |11               |821682 |
|Aquarius  |12               |1220490|
|Aries     |1                |1460800|
|Aries     |2                |808500 |
|Aries     |3                |1292500|
|Aries     |4                |2271500|
|Aries     |5                |683100 |
|Aries     |6                |796400 |
|Aries     |7                |1793000|
|Aries     |8                |990000 |
|Aries     |9                |859100 |
|Aries     |10               |2152700|
|Aries     |11               |788700 |
|Aries     |12               |1171500|
|Cancer    |1                |1630784|
|Cancer    |2                |902580 |
|Cancer    |3                |1442900|
|Cancer    |4                |2535820|
|Cancer    |5                |762588 |
|Cancer    |6                |889072 |
|Cancer    |7                |2001640|
|Cancer    |8                |1105200|
|Cancer    |9                |959068 |
|Cancer    |10               |2403196|
|Cancer    |11               |880476 |
|Cancer    |12               |1307820|
|Capricorn |1                |1663984|
|Capricorn |2                |920955 |
|Capricorn |3                |1472275|
|Capricorn |4                |2587445|
|Capricorn |5                |778113 |
|Capricorn |6                |907172 |
|Capricorn |7                |2042390|
|Capricorn |8                |1127700|
|Capricorn |9                |978593 |
|Capricorn |10               |2452121|
|Capricorn |11               |898401 |
|Capricorn |12               |1334445|
|Gemini    |1                |1679920|
|Gemini    |2                |929775 |
+----------+-----------------+-------+
only showing top 50 rows

In [ ]:
# Detener la sesión de Spark
spark.stop()